In [4]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.26.0 in /home/lukas/i2dl/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/lukas/i2dl/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/lukas/i2dl/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta

In [54]:

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [56]:

# parse time stamps
df = pd.read_csv("data.csv", parse_dates=['timestamp'])
df['timestamp'] = pd.to_datetime(df['timestamp'])
# Extract datetime features
df['hour'] = df['timestamp'].dt.hour
df['day_of_week'] = df['timestamp'].dt.dayofweek
df['month'] = df['timestamp'].dt.month

In [58]:
# Features to be used for the model
features = ['sensor_encoded', 'hour', 'day_of_week', 'month']

X = df[features]

In [ ]:
# Scaling featurus
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [46]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Sort the DataFrame by 'timestamp'
df = df.sort_values('timestamp').reset_index(drop=True)

# Verify sorting
df.head()

,sensor,bucket,timestamp,value,type,sensor_encoded
0,livingroom_PIR,1_4_7,2024-11-20 21:41:17.408,livingroombedarea,sensor,2
1,kitchen_PIR,1_5_9,2024-11-20 22:13:54.240,kitchen,sensor,1
2,kitchen_PIR,1_5_9,2024-11-21 00:32:07.153,kitchen,sensor,1
3,livingroom_PIR,1_4_7,2024-11-21 00:59:16.319,livingroombedarea,sensor,2
4,kitchen_PIR,1_5_9,2024-11-21 02:50:16.250,kitchen,sensor,1

In [47]:
# Create a flag that indicates when the 'value' changes compared to the previous row
df['room_change'] = (df['value'] != df['value'].shift(1)).astype(int)

# Create a cumulative sum of the 'room_change' flag to assign a unique group ID to each consecutive block
df['group_id'] = df['room_change'].cumsum()

In [53]:
# Group by 'group_id' and 'value' to handle each room separately
duration_df = df.groupby(['group_id', 'value']).agg(
    start_time=('timestamp', 'min'),
    end_time=('timestamp', 'max')
).reset_index()

# Calculate duration as the difference between end_time and start_time
duration_df['duration'] = duration_df['end_time'] - duration_df['start_time']

In [52]:
duration_df.head(50)

,group_id,value,start_time,end_time,duration
0,1,livingroombedarea,2024-11-20 21:41:17.408,2024-11-20 21:41:17.408,0 days 00:00:00
1,2,kitchen,2024-11-20 22:13:54.240,2024-11-21 00:32:07.153,0 days 02:18:12.913000
2,3,livingroombedarea,2024-11-21 00:59:16.319,2024-11-21 00:59:16.319,0 days 00:00:00
3,4,kitchen,2024-11-21 02:50:16.250,2024-11-21 07:01:32.415,0 days 04:11:16.165000
4,5,livingroombedarea,2024-11-21 09:03:39.394,2024-11-21 15:18:02.984,0 days 06:14:23.590000
5,6,kitchen,2024-11-21 17:08:48.155,2024-11-21 18:19:52.962,0 days 01:11:04.807000
6,7,livingroombedarea,2024-11-21 18:31:19.969,2024-11-21 18:34:47.829,0 days 00:03:27.860000
7,8,kitchen,2024-11-21 18:40:48.871,2024-11-21 18:52:34.137,0 days 00:11:45.266000
8,9,bathroom,2024-11-21 18:58:21.270,2024-11-21 18:58:21.270,0 days 00:00:00
9,10,livingroombedarea,2024-11-21 21:24:42.967,2024-11-21 21:36:20.694,0 days 00:11:37.727000
10,11,kitchen,2024-11-21 22:50:04.193,2024-11-22 02:55:28.908,0 days 04:05:24.715000
11,12,livingroombedarea,2024-11-22 03:52:40.278,2024-11-22 04:30:14.087,0 days 00:37:33.809000
12,13,bathroom,2024-11-22 08:28:38.224,2024-11-22 12:20:39.478,0 days 03:52:01.254000
13,14,kitchen,2024-11-22 14:14:52.088,2024-11-22 19:36:03.029,0 days 05:21:10.941000
14,15,livingroombedarea,2024-11-22 19:36:13.902,2024-11-22 19:36:41.381,0 days 00:00:27.479000
15,16,livingroomdoor,2024-11-22 19:36:52.000,2024-11-22 19:36:52.000,0 days 00:00:00
16,17,kitchen,2024-11-22 19:36:54.404,2024-11-22 19:39:30.877,0 days 00:02:36.473000
17,18,bathroom,2024-11-22 19:39:32.858,2024-11-22 19:39:32.858,0 days 00:00:00
18,19,kitchen,2024-11-22 19:39:39.640,2024-11-22 19:39:39.640,0 days 00:00:00
19,20,bathroom,2024-11-22 19:39:39.903,2024-11-22 19:39:39.903,0 days 00:00:00
20,21,kitchen,2024-11-22 19:39:44.286,2024-11-22 19:39:49.429,0 days 00:00:05.143000
21,22,bathroom,2024-11-22 19:39:59.390,2024-11-22 19:39:59.390,0 days 00:00:00
22,23,kitchen,2024-11-22 19:40:07.903,2024-11-22 19:40:07.903,0 days 00:00:00
23,24,bathroom,2024-11-22 19:40:49.689,2024-11-22 19:40:54.754,0 days 00:00:05.065000
24,25,kitchen,2024-11-22 19:41:29.642,2024-11-22 19:41:55.706,0 days 00:00:26.064000
25,26,bathroom,2024-11-22 19:41:57.514,2024-11-22 19:43:17.394,0 days 00:01:19.880000
26,27,kitchen,2024-11-22 19:43:31.733,2024-11-22 19:45:37.063,0 days 00:02:05.330000
27,28,bathroom,2024-11-22 19:46:56.234,2024-11-22 19:46:56.234,0 days 00:00:00
28,29,kitchen,2024-11-22 19:46:58.585,2024-11-22 19:46:58.585,0 days 00:00:00
29,30,bathroom,2024-11-22 19:47:04.917,2024-11-22 19:47:04.917,0 days 00:00:00
30,31,kitchen,2024-11-22 19:47:07.799,2024-11-22 19:47:07.799,0 days 00:00:00
31,32,bathroom,2024-11-22 19:47:28.650,2024-11-22 19:47:28.650,0 days 00:00:00
32,33,kitchen,2024-11-22 19:47:54.697,2024-11-22 19:52:13.998,0 days 00:04:19.301000
33,34,bathroom,2024-11-22 19:52:22.092,2024-11-22 19:52:48.833,0 days 00:00:26.741000
34,35,kitchen,2024-11-22 19:53:42.780,2024-11-22 19:53:58.778,0 days 00:00:15.998000
35,36,bathroom,2024-11-22 20:00:07.155,2024-11-22 20:16:46.570,0 days 00:16:39.415000
36,37,kitchen,2024-11-22 21:52:46.427,2024-11-22 21:52:46.427,0 days 00:00:00
37,38,livingroombedarea,2024-11-22 22:02:56.317,2024-11-22 22:02:56.317,0 days 00:00:00
38,39,kitchen,2024-11-22 22:35:23.179,2024-11-23 00:01:14.333,0 days 01:25:51.154000
39,40,bathroom,2024-11-23 00:01:43.630,2024-11-23 00:01:43.630,0 days 00:00:00
40,41,kitchen,2024-11-23 00:01:49.890,2024-11-23 00:01:56.863,0 days 00:00:06.973000
41,42,bathroom,2024-11-23 00:01:59.223,2024-11-23 00:01:59.223,0 days 00:00:00
42,43,livingroombedarea,2024-11-23 00:02:07.812,2024-11-23 00:02:07.812,0 days 00:00:00
43,44,bathroom,2024-11-23 00:02:07.815,2024-11-23 00:02:07.815,0 days 00:00:00
44,45,kitchen,2024-11-23 00:02:13.576,2024-11-23 00:02:13.576,0 days 00:00:00
45,46,bathroom,2024-11-23 00:02:47.259,2024-11-23 00:03:19.777,0 days 00:00:32.518000
46,47,kitchen,2024-11-23 00:03:49.782,2024-11-23 00:03:49.782,0 days 00:00:00
47,48,bathroom,2024-11-23 00:04:33.300,2024-11-23 00:04:56.631,0 days 00:00:23.331000
48,49,kitchen,2024-11-23 00:05:11.373,2024-11-23 00:05:11.373,0 days 00:00:00
49,50,bathroom,2024-11-23 00:05:15.208,2024-11-23 00:06:50.362,0 days 00:01:35.154000